/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
features/tmp/
/features/fixtures/simple_app/log/

execution_map.yml
tables_map.yml

# rspec failure tracking
.rspec_status

.DS_Store
/.idea
.ruby-version
.ruby-gemset
